/*
* Place css styles below.
*/

body {
	/*margin-top: 60px;*/
	background: url('../media/lake.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#main-nav {
	float: right;
}
#main-nav > li > a {
	color: #333;
	font-weight: bold;
	background: none;
}
#main-nav > li {
	display: inline-block;
}

.content {
	background-color: #f5f5f5;
}

img.pull-right {
	margin-left: 10px;
}

img.pull-left {
	margin-right: 10px;
}

hr {
	border-top:1px solid #ccc;
}

#footer {
}

#footer div {
	background-color: #f5f5f5;
	min-height: 50px;
}

.content {

}
